@font-face{
	font-family: 'Raleway';
	src: url('../assets/Raleway-Regular.ttf');
}

body{
	padding: 0;
	margin: 0;
	font-family: 'Raleway';
    background-color:#ffffff;
}

h1{
    margin: 5px;
    padding-bottom: 0%;
	text-align: center;
	font-size: 300%;
    font-weight: bold;
    font-family: Raleway; 
    color: black ;

}

nav { background-color: #455A64; }

nav *{
	margin-top: 2px;
    padding: 1%;
	background-color: #455A64;
	color: white;
	font-size: 110%;
}

.icon-button{
	border-radius: 100px;
    background-color: #0078af;
	transition: 0.4s;
	font-size: 100%;
    width: 80px;
}

.icon-button:hover{
	background-color: #CFD8DC;
	color: black;
	cursor: pointer;
}


.search-box{
    padding-left: 2%;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 3px;
    
    border-style: groove;
    border-color: #5e5f74;
    border-width: medium;
    border-radius: 50px;
	font-size: 110%;
    resize: 40;
}

.icon-search{
    border-radius: 150px;
    transition: 0.4s;
    font-size: 100%;
	cursor: pointer;
    width: 45px;
    background-color: #0078af;
    margin-left: 5px;
}

.icon-search:hover{
    background-color: #CFD8DC;
    color: black;
}

h2{
    margin-top: 0%;
    margin-bottom: 0%;
    padding-left: 3%;
    font-size: 300%;
    color:black;
    font-weight: bold;
}

.hlow-line{
    border-bottom: 2px black solid;
}

.container{
    overflow-y: auto;
    overflow-x: hidden;
    height: 55vh; 
    background-color: #BDBDBD;
    border: 2px black solid;
}

.concept{
    margin: 2%;
    font-size: 120%;
    color: black;
    font-weight: bold; 
}

.concept:hover{
    font-size: 123%;
    color: #0078af;
    cursor: pointer;
    text-decoration-line: underline;
}
